*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(98, 21, 21, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 55px;
    color: #fff;
    margin-bottom: 30px;
}

.content button{
    font-size: 23px;
    color: #fff;
    background-color: rgba(250, 235, 215, 0.055);
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}
.content p{
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
}

.content button:hover{
    background-color: #85292986;
    color: #cf1d1d;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
